.searchs-body{
    min-width: 100vh;
    height: 100vh;
    z-index: -1;
    background: url('https://cdn.wallpapersafari.com/14/10/faemzP.jpg');
    background-size: cover;
    background-position: center;
   


}
:root{
    --mainColor :rgb(19, 134, 211);
}


.input-search{
    position: relative;
   top: 70PX;
   width: 300PX;
   padding: 15PX 10PX;
   border-radius: 50PX;
   font-size: 20PX;
   color: #333;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}
.input-search:hover{
   overflow: hidden;
   white-space: nowrap;
   box-shadow: 0PX 6PX 12PX  var(--mainColor);

}
.input-search:focus{
    box-shadow: 0PX 3PX 6PX  var(--mainColor);
 
 }
 
.button-get-data{
 position: absolute;
top: 150PX;
width: 200PX;
padding: 0;
cursor: pointer;
padding: 15PX 10PX;
font-size: 20PX;
background-color: var(--mainColor);
color: white;
 border-radius:16PX 0 16PX  ;
 transition: all .3s ;
 left: 50%;
 transform: translateX(-50%);

}
button:hover{
 
 color: var(--mainColor);
 background-color: white;
 border-radius: 3px;
}


.container-inpSearch-btnGet{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}